<% islands.each do |island| %>
  <div class="home-island-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path island.photo, crop: :fill %>')">
    <div class="home-island-card-name">
      <%= island.name %>
    </div>
    <div class="home-island-card-country">
        <p><%= island.country %></p>
    </div>
    <%= link_to "", island_path(island), class: 'home-island-card-actions' %>
  </div>
<% end %>
