<div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 50%), url(https://res.cloudinary.com/dwkzd2xzh/image/upload/v1558957833/index_banner_cmpdu3.jpg);">
  <div class="container">
    <h3>Welcome on Islander!</h3>
    <p> Book <span id="banner-typed-text"></span></p>


     <%= form_tag root_path, method: :get, remote: :true do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control string required",
        placeholder: "An island is waiting for you."
        %>
        <button id="submit-search" name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> GO
        </button>
      </div>
    <% end %>
  </div>
</div>

<div>
  <div class="home-island-cards">
    <%= render 'search', islands: @islands %>
  </div>
</div>


