<div class="avatar">
  <!-- <p> <%= cl_image_tag current_user.photo%> </p> -->
</div>
<div>
<h4> Welcome back <%= current_user.first_name %> !</h4>
</div>
<h4>The bookings on my islands</h4>
<% @my_islands.each do |island| %>
  <% island %>

<%end %>


    <%= render 'shared/test', my_islands: @my_islands, my_bookings: @my_bookings  %>






