<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jsagl/islander"><i class="fab fa-github"></i></a>
    © 2019 Inslander Inc.
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> in Paris
  </div>
</div>
