
        <div id="weather-result">
<!--           <h4 id="weather-description"></h4> -->
          <img src="" alt="" id="weather-image" class="w-25">
          <h4 id="temperature"></h4>
        </div>
