<div class="reviews col-xs-12">
    <h2 class="container">Reviews</h2>
    <h3><% @island.reviews.each do |review|%></h3>
      <div>
        <div class="identification">
          <p><%= "#{review.booking.user.first_name.capitalize}" + ". " + "#{review.booking.user.last_name.first}" %></p>
          <p><%= review.created_at.strftime("%b %d, %Y") %></p>
        </div>
        <div style="margin-top: 16px;">
          <p class="review"><%=review.content%></p>
          <p><%=review.stars%></p>
        </div>
        <div style="margin-top: 24px; margin-bottom: 24px;">
        <div class="_7qp4lh"></div>
        </div>
      </div>
    <% end %>
</div>
