.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: 0.1s background-color ease;
  color:white;
  z-index: 9999;
}

.navbar-lewagon-white {
  background-color: rgba(245,245,245,0.9);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
