.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100vw;
  height: $navbar-height;
  top: 0;
  transition: 0.1s background-color ease;
  font-size: 16px;
  font-weight: lighter;
  z-index: 9999;
}

.navbar-lewagon-white {
  background-color: rgba(245,245,245,0.9) !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.margin-top-navbar {
  margin-top: $navbar-height;
}




